<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Weather</title>
      <link rel="stylesheet" href="css/styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="js/app.js"></script>
      <link rel="shortcut icon" href="img/weather.png" type="image/x-icon">
</head>
<body>

      <div class="main-content">
            {{>header}}

			<input id="searchbox" type="text" placeholder="city" class="textbox" />
			<div id="container">
				<div style="display: flex">
					<div class="icon-container" id="forcast-icon"></div>
					<div class="timezone-container" id="timezone"></div>
				</div>
				<div id="forcast-detail"></div>
			</div>
      </div>

      {{>footer}}
</body>
</html>
